/* || RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  /* width: 100%; */
  /* height: auto; */
}

/* || UTILITY CLASSES */
.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* || VARIABLES */
:root {
  --FF: Inter, Helvetica, Arial, sans-serif;
  --FS: clamp(1.75rem, 3vh, 2.25rem);

  /* colors */
  --BODY-BGCOLOR: #242424;
  --BORDER-COLOR: #313131;
  --NAVBARBRAND-COLOR: #61DBFB;
  --NAVBAR-NAV: whitesmoke;
  --LISTBULLET-COLOR: #61DBFB;
}

/* || GENERAL STYLES */
body {
  font-family: var(--FF);
  font-size: var(--FS);
  width: 100%;
  min-height: 100vh;
  background-color: var(--BODY-BGCOLOR);
}

.header{
  background-color: #313131;
  display: flex;
  flex-flow: column nowrap;
  height: 60px;
  box-shadow: 0 0 15px var(--BORDER-COLOR);
}

.header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin: 0 10px 0 10px;
}

.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  column-gap: 10px;
  padding: 0 10px 0 10px;
  list-style-type: none;
  color: whitesmoke;
}

footer{
  background-color: rgb(198, 229, 252);
  width: 100%;
  position: absolute;
  bottom: 0;
}


/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
